body{
  margin: 0;
  padding: 0;
  font-family: "montserrat";
}
.team-section{

  text-align: center;
}
.inner-width{
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  color: #3498DB;
  overflow: hidden;
}

.team-section h1{
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 4px solid;
  padding-bottom: 10px;

}
.pe{
  float: left;
  width: calc(100% / 7);
  overflow: hidden;
  background: #ddd;
  padding: 40px 0;
  transition: 0.4s;
  margin:0 10px 10px 0;

}
.pe:hover{

}
.pe img{
  width: 150px;
  height: 150px;
}
.p-name{
  margin: 16px 0;
  text-transform: uppercase;
}

.p-des{
  font-style: italic;
  color: #3498db;
}
.p-sm{
  margin-top: 12px;
}
.p-sm a{
  margin: 0 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: 0.8s;
}
.p-sm a:hover{
  transform: scale(2.3);
}
.p-sm a i{
  color: #333;
  line-height: 30px;
}
@media screen and (max-width:600px) {
  .pe{
    width: 100%;
  }
}
